<a href="https://colab.research.google.com/github/Viratvenom/AIRBNB-EDA-PROJECT/blob/main/clustering_bank_customer_ANN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Importing libraries**

In [40]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [41]:
tf.version

In [4]:
# mount drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [92]:
#read file
filepath = '/content/Churn_Modelling.csv'
df = pd.read_csv(filepath)

 **Data PRE PROCESSING**

In [93]:
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [94]:
# dataframe shape
df.shape

(10000, 14)

In [45]:
# unique values in each column
df.nunique()

RowNumber          10000
CustomerId         10000
Surname             2932
CreditScore          460
Geography              3
Gender                 2
Age                   70
Tenure                11
Balance             6382
NumOfProducts          4
HasCrCard              2
IsActiveMember         2
EstimatedSalary     9999
Exited                 2
dtype: int64

In [11]:
# Checking for duplicate records
df.duplicated().value_counts()

False    10000
dtype: int64

In [12]:
# Dataset Duplicate Value Count
print('Duplicate entries: {}'.format(df.duplicated().sum()))
print('{}% rows are duplicate.'.format(round((df.duplicated().sum()/df.shape[0])*100),2))
df.drop_duplicates(inplace = True)

Duplicate entries: 0
0% rows are duplicate.

In [46]:
# Visualizing the missing values
df.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [95]:
#importing dataset & pre-processing
x = df.iloc[:, 3:-1].values
y = df.iloc[:, -1].values

In [96]:
print (x)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [97]:
print (y)

[1 0 1 ... 1 1 0]

#Encoding Categorical Data

In [99]:
#Lable encoding 'Gender' column
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
x[:,2]=le.fit_transform(x[:,2])

In [100]:
print(x) # 0 :female 1:male

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

#OneHot encoding Geograpy Column

In [101]:
#OneHot encoding Geograpy Column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# assuming that x is a 2D numpy array or pandas DataFrame with the Geography column as the second column
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
x = ct.fit_transform(x)  # x is transformed inplace and does not need to be assigned back to x

In [102]:
print(x)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [103]:
#spilting  the dataset test/training test
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.2, random_state=0)

In [104]:
# Feature scaling
from sklearn.preprocessing import StandardScaler

# assuming that X is a 2D numpy array or pandas DataFrame with numerical features
scaler = StandardScaler()
x_train = scaler.fit_transform(x_train)
x_test = scaler.transform(x_test)

**Building The ANN**

In [105]:
#Initializing the ANN
from tensorflow import keras
ann = tf.keras.models.Sequential()

In [106]:
#Adding the first layers# Recitifier neuralnetwork code
ann.add(tf.keras.layers.Dense(units=6, activation ='relu'))

In [107]:
#Adding the seconds layer
ann.add(tf.keras.layers.Dense(units=6, activation ='relu'))

In [108]:
#Adding the output layer
ann.add(tf.keras.layers.Dense(units=1,activation ='sigmoid'))

**Training the Ann**

In [109]:
#Compiling the ANN
ann.compile(optimizer= 'adam',loss = 'binary_crossentropy', metrics =['accuracy'] ) #mean_squared_error'

In [110]:
#Training the ANN model on the Training set
ann.fit(x_train , y_train ,batch_size = 32, epochs=100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.6065 - accuracy: 0.7339
Epoch 2/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4825 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4558 - accuracy: 0.7960
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4453 - accuracy: 0.7965
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4391 - accuracy: 0.7975
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4350 - accuracy: 0.7977
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4319 - accuracy: 0.8020
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 0.4291 - accuracy: 0.8064
Epoch 9/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4259 - accuracy: 0.8111
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 0.4225 - accuracy: 0.8156
Epoch 11/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4188 - accuracy: 0.8217
Epoch 12/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4153 - accuracy: 0.8245
Epoch 13/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4116 - accuracy: 0.8253
Epoch 14/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4071 - accuracy: 0.8279
Epoch 15/100
250/250 [==============================] - 1s 3ms/step - loss: 0.4008 - accuracy: 0.8290
Epoch 16/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3910 - accuracy: 0.8345
Epoch 17/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3786 - accuracy: 0.8438
Epoch 18/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3692 - accuracy: 0.8470
Epoch 19/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3628 - accuracy: 0.8518
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3590 - accuracy: 0.8519
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3565 - accuracy: 0.8528
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3544 - accuracy: 0.8546
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3524 - accuracy: 0.8559
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3511 - accuracy: 0.8575
Epoch 25/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3501 - accuracy: 0.8566
Epoch 26/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3491 - accuracy: 0.8574
Epoch 27/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3482 - accuracy: 0.8579
Epoch 28/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3476 - accuracy: 0.8571
Epoch 29/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3467 - accuracy: 0.8584
Epoch 30/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3462 - accuracy: 0.8579
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3455 - accuracy: 0.8585
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3445 - accuracy: 0.8595
Epoch 33/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3432 - accuracy: 0.8594
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3431 - accuracy: 0.8600
Epoch 35/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3424 - accuracy: 0.8601
Epoch 36/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3421 - accuracy: 0.8601
Epoch 37/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3414 - accuracy: 0.8609
Epoch 38/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8605
Epoch 39/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3409 - accuracy: 0.8602
Epoch 40/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3400 - accuracy: 0.8601
Epoch 41/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3393 - accuracy: 0.8612
Epoch 42/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3397 - accuracy: 0.8608
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3391 - accuracy: 0.8610
Epoch 44/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3388 - accuracy: 0.8612
Epoch 45/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3386 - accuracy: 0.8612
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3385 - accuracy: 0.8627
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8622
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3381 - accuracy: 0.8625
Epoch 49/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8629
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8625
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3370 - accuracy: 0.8620
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3371 - accuracy: 0.8621
Epoch 53/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8637
Epoch 54/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8627
Epoch 55/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8639
Epoch 56/100
250/250 [==============================] - 1s 5ms/step - loss: 0.3368 - accuracy: 0.8625
Epoch 57/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3363 - accuracy: 0.8640
Epoch 58/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3357 - accuracy: 0.8626
Epoch 59/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3362 - accuracy: 0.8619
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8611
Epoch 61/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8643
Epoch 62/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3358 - accuracy: 0.8627
Epoch 63/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3354 - accuracy: 0.8634
Epoch 65/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3351 - accuracy: 0.8645
Epoch 66/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8630
Epoch 67/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8635
Epoch 68/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8648
Epoch 69/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8640
Epoch 70/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3345 - accuracy: 0.8640
Epoch 71/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8640
Epoch 72/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8646
Epoch 73/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3337 - accuracy: 0.8645
Epoch 74/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8643
Epoch 75/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8656
Epoch 76/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3332 - accuracy: 0.8660
Epoch 77/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8655
Epoch 78/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3329 - accuracy: 0.8649
Epoch 79/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8651
Epoch 80/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3329 - accuracy: 0.8658
Epoch 81/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3327 - accuracy: 0.8648
Epoch 82/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3331 - accuracy: 0.8646
Epoch 83/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3325 - accuracy: 0.8651
Epoch 84/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3320 - accuracy: 0.8670
Epoch 85/100
250/250 [==============================] - 1s 4ms/step - loss: 0.3323 - accuracy: 0.8659
Epoch 86/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3320 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8666
Epoch 88/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3317 - accuracy: 0.8662
Epoch 89/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3316 - accuracy: 0.8655
Epoch 90/100
250/250 [==============================] - 1s 3ms/step - loss: 0.3313 - accuracy: 0.8677
Epoch 91/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3315 - accuracy: 0.8662
Epoch 92/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8671
Epoch 93/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3310 - accuracy: 0.8646
Epoch 94/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3311 - accuracy: 0.8665
Epoch 95/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8664
Epoch 96/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3312 - accuracy: 0.8651
Epoch 97/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3308 - accuracy: 0.8654
Epoch 98/100
250/250 [==============================] - 1s 2ms/step - loss: 0.3312 - accuracy: 0.8660
Epoch 99/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3311 - accuracy: 0.8661
Epoch 100/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3307 - accuracy: 0.8670

In [78]:
#Making the predictions  and evaluate the model

#customer leaving the bank
Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: $ 60000

Number of Products: 2

Does this customer have a credit card? Yes

Is this customer an Active Member: Yes

Estimated Salary: $ 50000

So, should we say goodbye to that customer?

In [116]:
# assuming that ann is a trained neural network model and scaler is a fitted scaler object
print(ann.predict(scaler.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])))
print(ann.predict(scaler.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]]))>0.5)

1/1 [==============================] - 0s 45ms/step
[[0.02]]
1/1 [==============================] - 0s 64ms/step
[[False]]

In [117]:
#Predicting the results of the Test set
y_pred = ann.predict(x_test)
y_pred = (y_pred>0.5)
np.set_printoptions(precision=2)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

63/63 [==============================] - 0s 2ms/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

**Making the Confusion Matrix**

In [118]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print (cm)
accuracy_score(y_test, y_pred)

[[1518   77]
 [ 191  214]]

0.866